Hey PlaidLock,
<br />
<br />
<%= @sender %> has requested more information about your services! Here's what they said:
<br />
<br />
<%= @message %>
<br />
<br />
Send mail to <a href="mailto:<%= @sender %>"><%= @sender %></a>  in response.