<div id="footer">
  <!-- Begin Official PayPal Seal -->
  <a href="https://www.paypal.com/us/verified/pal=paypal%40plaidlock%2ecom" target="_blank">
    <img src="/images/plaidlock/paypal.png" border="0" height="50" alt="Official PayPal Seal" style="border: none;">
  </a>
  <!-- End Official PayPal Seal -->
  
  <!-- Begin github -->
  <a href="https://github.com/plaidlock" target="_blank">
    <img src="/images/plaidlock/github.png" border="0" height="50" alt="github" style="border: none;">
  </a>
  <!-- End github -->
</div>